.signUp-page{
    display: flex;
    width: fit-content;
    height: calc(100vh - 80px);
    margin: auto;
    justify-content: center;
    align-items: center;

}
.signup-form{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    width: 70%;
    height: 525px;
    flex: .45;
}

.signup-img{
    flex: .5;
    margin-left: 50px;
}

.signup-heading{
    text-align: center;

}
.signup-form-details{
    display: flex;
    flex-wrap: wrap;
}
.optional{
    margin: 0px;
}
label{
    font-size: x-large;
}

.R-btn{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.Sign_btn{
    background-color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 4px;
}
.Sign_btn a{
    text-decoration: none;
}
